@charset "UTF-8";

@font-face {
    font-family: 'Alata';
    src: url(./fonts/Alata-Regular.ttf)  format("truetype");
    src: url(./fonts/Alata-Regular.woff) format('woff');
}

  * {
    font-family: 'Alata';
  }

  html, body {
    width: 100%;
  }
  body {
    padding-top: 100px;
  }
  main {
    overflow: hidden;
  }

  #header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding : 0;
    height: 100px;
    background-color: rgba(234, 234, 229, 0.8);
  }
  #header .header_inner {
    position: relative;
    margin: 0 auto;
  }
  #header .logo {
    position: absolute;
    top: 4px;
    left: 16px;
    height: 80px;
  }
  #header .logo .pic {
    display: inline-block;
  }
  #header .logo .pic img {
    width: 80px;
  }
  #header .logo .arrow {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
  }
  #header .logo .arrow svg {
    width: 16px;
  }

  #header .navi .discord,
  #header .navi .notion, 
  #header .navi .twitter {
    opacity: 0.6;
  }
  #header .navi .notion {
    margin-left: 22px;
  } 
  .navi ul li a:hover {
    opacity: 0.7;
  }


  #header .navi {
    position: absolute;
    right: 16px;
    top: 30px;
  }
  #header .navi svg {
    height: 32px;
  }

  #footer {
    padding: 80px 16px 60px;
    background-color: #e39164;
  }
  #footer .navi {
    text-align: center;
    margin: 72px auto 0px;
  }
  #footer .navi svg {
    height: 48px;
  }

  .navi ul {
    margin: 0;
    padding: 0;
  }
  .navi ul li {
    margin-left: 12px;
    display: inline-block;
    list-style: none;
  }

  #footer .navi ul li {
    margin-left: 64px;
  }

  #tx-guide {
    padding: 0;
  }
  .tx-guide__container {
    padding: 0;
    max-width: inherit;
  }
  #tx-guide h2 {
    font-family: Alata;
    color: #E39164;
    font-size: 3rem;
    font-weight: 600;
  }

  .mainvisual__container.mainvisual {
    max-width: inherit;
  }
  .mainvisual__text-main {
    font-family: Alata;
    font-size: 7rem;
    font-weight: 400;
    color: #D35007;

    text-shadow: 4px 4px 0 #ffffff,
      -4px 4px 0 #ffffff,
      4px -4px 0 #ffffff,
      -4px -4px 0 #ffffff;
    text-shadow: 4px 4px 2px #ffffff,
      -4px 4px 2px #ffffff,
      4px -4px 2px #ffffff,
      -4px -4px 2px #ffffff;
  }

  .mainvisual__text-sub {
    margin-top: 32px;
    font-family: Alata;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #D35007;
    text-shadow: 4px 4px 0 #ffffff,
      -4px 4px 0 #ffffff,
      4px -4px 0 #ffffff,
      -4px -4px 0 #ffffff;
    text-shadow: 4px 4px 2px #ffffff,
      -4px 4px 2px #ffffff,
      4px -4px 2px #ffffff,
      -4px -4px 2px #ffffff;
  }

  .tx-guide__input_wrapper {
    text-align: center;
    padding: 16px;
  }
  .tx-guide__manual_wrapper {
    text-align: center;
    padding: 80px 16px;
    background-color: #e39164;
  }

  .tx-guide__input {
    margin: 48px auto 0;
    border: solid 6px #e39164;
    border-radius: 40px;
  }
  .tx-guide__input_inner {
    text-align: left !important;
    margin: 40px 30px;
  }
  .tx-guide__input .tx-guide__heading-sub:first-child {
    margin-top: 0;
  }
  .tx-guide__heading-sub {
    margin-top: 32px;
    text-align: left;
    font-size: 2.2rem;
    color: #E39164;
    word-break:break-all;
  }
  .tx-guide__message {
    margin: 8px 0 0;
    text-align: left;
    font-weight: 700;
    font-size: 2.4rem;
    color: #C07043;
    word-break:break-all;
  }

  .tx-guide__list-item {
    margin: 56px auto;  
  }

  .tx-guide__logs_wapper {
    margin: 40px auto 12px;
    padding: 4px 16px 16px;  
    max-width: 640px;
    border: dotted 2px #e39164;
    border-radius: 12px;
  }

  .tx-guide__button {
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 220px;
    display: block;
    font-weight: 700;
    font-size: 2.4rem;
    background-color: #6551df;
    border: none;
  }
  .tx-guide__button:hover {
    background-color: #a395ff;
  }

  a.tx-guide__button_orange {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    padding: 20px 0;
    width: 100%;
    color: #ffffff;
    border: solid 5px #ffffff;
  }
  a.tx-guide__button_orange:hover {
    background-color: #ffac80;
  }

  a.tx-guide__button_orange.button_blue {
    background-color: #6430d6;
  }
  a.tx-guide__button_orange.button_blue:hover {
    background-color: #8f5ef9;
  }

  a.tx-guide__button_orange span.arrow {
    display: none;
    position: absolute;
    width: 20px;        
    bottom: 25px;
    right: 24px;
  }
  a.tx-guide__button_orange.white_paper span.arrow {
    right: 90px;
  }

  #mintbutton_section_pc h2,
  #mintbutton_section_mobile h2 {
    text-align: left;
    font-size: 2.5rem !important;
    margin-bottom: 16px;
  }

  #mintbutton_section_pc h2,
  #mintbutton_section_mobile {
    display: block;
  }

  @media screen and (min-width:480px) { 
    #header .navi ul li {
      margin-left: 64px;
    }
    #header .navi .notion {
      margin-left: 98px;
    }
    #footer .navi ul li {
      margin-left: 120px;
    }
    .mainvisual__text-main {
      font-size: 9rem;
    }
    .tx-guide__input_wrapper {
      padding: 64px;
    }
    .tx-guide__input {
      max-width: 640px;
    }
    .tx-guide__input_inner {
    margin: 40px 60px;
    }
    a.tx-guide__button_orange {
      padding: 20px 24px 20px 18px;
      font-size: 2.4rem;
      width: 400px;
    }
    a.tx-guide__button_orange span.arrow {
      display: block;
    }

  }

  @media screen and (min-width:768px) { 
    #header .header_inner {
      max-width: 2560px;
    }
    #footer .navi {
      max-width: 640px;
    }
    #header .navi ul li {
      margin-left: 96px;
    }
    #header .navi .notion {
      margin-left: 106px;
    }
    #footer .navi ul li {
      margin-left: 200px;
    }
  }

  #header .navi ul li:first-child,
  #footer .navi ul li:first-child {
    margin-left: 0;
  }
